.Header-container {
  width: 100%;
  height: 50px;
  .container-lg {
    height: 100%;
    // 左侧logo
    .Header__logo {
      line-height: 50px;
      img {
        height: 40px;
      }
    }
    // 中间导航栏
    .Header__nav{
      list-style-type: none;
      li{
        float: left;
      }
    }
  }
}
