.Index__container{
  height: auto;
  padding-bottom: 100px;
  .pagination{
    position: absolute;
    left: 50%;
    transform: translate(-110%);
    background: #fff;
    li{
      background: #fff !important;
    }
    button{
      background: #fff !important;
    }
    .is-active{
      background-color: var(--el-color-primary) !important;
    }
  }
}