.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 500px;
  background: #fff;
  padding: 2.25rem;
  text-align: center;
  .back{
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #98a6ad;
    cursor: pointer;
  }
  .title {
    clear: both;
    font-weight: 700;
    font-size: 1.125rem;
    color: #585a63;
  }
  .text {
    color: #98a6ad;
    font-size: 0.9rem;
  }
  .tips {
    float: left;
    color: #98a6ad;
    font-weight: 700;
    font-size: 0.9rem;
  }
  button {
    width: 100%;
    height: 40px;
    clear: both;
  }
  .text{
    span{
      cursor: pointer;
      color: #0084ff;
    }
  }
}

.register {
  height: auto;
  padding-bottom: 10px;
}
